.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;

  .logo {
    width: 3.2rem;
  }

  .nav {
    display: flex;
    gap: 2rem;
    &Block {
      display: flex;
      align-items: center;
      gap: 3rem;
    }
    a {
      font-size: 1.2rem;
      &:hover,
      &.active {
        color: #84cc16;
        border-bottom: 2px solid #84cc16;
      }
    }
  }
}
