.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 4rem;
  }

  .nav {
    display: flex;
    gap: 2rem;
    &__box {
      display: flex;
      align-items: center;
      gap: 3rem;
    }
    a.active {
      color: red;
    }
  }
}
