.categorySection {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  gap: 1rem;
}

.vertical {
  grid-template-columns: 1fr;
  place-content: start;
  div {
    flex-direction: row;
    &:hover {
      transform: none;
    }
  }
}
