.btn {
  background-color: #90d81d;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  &:hover {
    background-color: #84cc16;
  }
}
