* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #374151;
}

body,
html {
  margin: 0 auto;
  padding: 0 0;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

ul,
ol {
  list-style: none;
}

img {
  display: inline-block;
}

h1 {
  text-align: center;
}
