* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #374151;
}

body {
  margin: 0 auto;
  padding: 0 0;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}
